/* Variables */
:root {
    --primary-bg: #fef9f4;
    --secondary-bg: #ffd699;
    --light-bg: #003049;
    --accent: #28587b;
    --text-light: #fef9f4;
    --text-dark: #003049;
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--text-dark);
    background-color: var(--primary-bg);
}

/* Utility Classes */
.text-center {
    text-align: center;
}

.text-light {
    color: var(--text-light);
}

.text-dark {
    color: var(--text-dark);
}

.m-1 {
    margin: 1rem;
}

.p-1 {
    padding: 1rem;
}

/* Buttons */
.btn {
    background: var(--accent);
    color: var(--text-light);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    transition: background 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
    background: var(--light-bg);
    color: var(--primary-bg);
}

.btn:focus {
    outline: 3px solid var(--secondary-bg);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 10px;
}
